In [1]:
import numpy as numpy
import pandas as pd

In [7]:
df = pd.read_csv("spam.csv", encoding="latin-1")

In [9]:
df.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
2177,ham,Oh k :)why you got job then whats up?,NaN,NaN,NaN
4403,ham,"Sorry, I'll call later &lt;#&gt; mins",NaN,NaN,NaN
1443,spam,Free 1st week entry 2 TEXTPOD 4 a chance 2 win...,NaN,NaN,NaN
319,ham,"Coffee cake, i guess...",NaN,NaN,NaN
3021,ham,How dare you change my ring,NaN,NaN,NaN

In [10]:
df.shape

(5572, 5)

In [11]:
# 1. Data Cleaning
# 2. EDA
# 3. Text Preprocessing
# 4. Model building
# 5. Model Evaluation  
# 6. Web App Creation
# 7. Model Deployment

In [12]:
### Data Cleaning

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [14]:
# drop last 3 columns
df.drop(columns = ['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], inplace=True)

In [15]:
df.sample(5)

        v1                                                 v2
2699   ham  Oh baby of the house. How come you dont have a...
1824   ham                           Sent me ur email id soon
182    ham  ok. I am a gentleman and will treat you with d...
1569   ham              I dont have that much image in class.
3054  spam  EASTENDERS TV Quiz. What FLOWER does DOT compa...

In [16]:
# renaming columns
df.rename(columns={'v1': 'target', 'v2': 'text'}, inplace=True)
df.sample(5)

     target                                               text
2781    ham  Then its most likely called Mittelschmertz. Go...
4911    ham                        I am on the way to tirupur.
3826   spam  Congratulations U can claim 2 VIP row A Ticket...
2678    ham  Was playng 9 doors game and gt racing on phone...
2882    ham                        Anything lor is she coming?

In [17]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [18]:
encoder.fit_transform(df['target'])

array([0, 0, 1, ..., 0, 0, 0])